.wrapper {
  padding: var(--main-padding-sides);
}

.wrapper > span {
  font-weight: 700;
  font-size: 13px;
  color: rgb(162, 162, 162);
}

.spanHolder {
  width: 85%;
  display: flex;
  align-items: center;
}

.spanHolder h3{
  margin: 0.5rem 0;
}

.spanHolder span{
  line-height: 1.5rem;
  color: #b0b0b0;
}