.wrapper {
  width: min(1200px, 95%);
  margin: 0 auto;
  padding: var(--rem3-gap) 0;
}

.wrapper > span {
  color: rgb(162, 162, 162);
}

.spanHolder {
  width: 85%;
  display: flex;
  align-items: center;
}

.spanHolder h3{
  margin: min(1vw, 0.5rem) 0;
  text-align: left;
}

.spanHolder span{
  line-height: clamp(1rem, 3vw, 1.5rem);
  color: #b0b0b0;
  font-size: var(--px16-font);
}