:root {
  --page-button-size: clamp(22px,3.8vw,40px)
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--page-button-size);
  height: var(--page-button-size);
  font-size: var(--px16-font);
  border: 1px solid #8b8698
}

.inActive {
  color: #8b8698;
}