.wrapper {
  width: min(1400px, 95%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--rem3-gap) 0;
  color: #7b7d7b;
}

.wrapper > span {
  font-size: var(--px14-font);
}

.wrapper svg {
  width: clamp(20px, 3vw, 22px);
  height: clamp(20px, 3vw, 22px);
  transition: .2s ease;
}

.wrapper h1{
  margin: 0;
  color: #8b8698;
}

.filter {
  display: flex;
  align-items: center;
  gap: var(--remdot5-gap);
  padding: var(--remdot5-gap) 5px;
  border-radius: 3px;
}

.filter:hover {
  cursor: pointer;
  outline: 1px solid #adadad;
}

.filter:hover svg {
  color: #616161;
}

.filter > span {
  color: black;
  font-size: var(--px16-font);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
