.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: var(--remdot5-gap);
}

.buttons a {
  text-decoration: none;
}

.active {
  color: #000;
  background-color: #8b8698;
}