.wrapper {
  width: 100%;
  text-align: start;
}

.wrapper img{
  width: 100%;
}

.textHolder {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: var(--rem1-gap) var(--rem1dot5-gap);
  font-weight: 700;
  font-size: var(--px16-font);
  color: black;
}

.textHolder span:nth-of-type(2) {
  color: #a8a8a8;
  font-size: var(--px14-font);
}