.item {
  position: relative;
}

.wrapper {
  width: 100%;
  text-align: start;
  display: grid;
}

.item svg {
  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 0;
  background-color: #a8a8a8;
  color: #ededed;
  box-sizing: content-box;
  padding: 0.4rem;
  border-radius: 50%;
}

.item:hover svg {
  opacity: 1;
}

.item svg:hover {
  cursor: pointer;
  background-color: #949494;
  color: #ededed;
}

.wrapper img{
  width: 100%;
}

.textHolder {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: var(--rem1-gap) var(--rem1dot5-gap);
  font-weight: 700;
  font-size: var(--px14-font);
  color: #a8a8a8;
}

.textHolder span:nth-of-type(2n+1) {
  color: #000;
  font-size: var(--px16-font);
}

.grid img {
  width: 100%;
}

.grid {
  width: 100%;
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 850px) {
  .grid {
    align-items: center;
  }
}