.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  color: #8f8f8f;
  font-weight: 700;
}

.form label::after {
  display: inline;
  content: " *";
  color: rgb(166, 42, 42);
}
.form input, .form textarea {
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  line-height: 1.5rem;
  font-size: 18px;
  padding: 0.3rem;
}

.form button {
  align-self: flex-start;
}