.form {
  display: flex;
  flex-direction: column;
  gap: var(--rem1dot5-gap);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  color: #8f8f8f;
  font-weight: 700;
  font-size: var(--px16-font);
}

.form label::after {
  display: inline;
  content: " *";
  color: rgb(166, 42, 42);
}
.form input, .form textarea {
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  line-height: 1.5rem;
  font-size: var(--px18-font);
  padding: clamp(0.1rem, 1vw, 0.3rem);
}

.form button {
  align-self: flex-start;
}