.wrapper {
  display: flex;
  flex-direction: column;
  color: #a5a5a5;
}

.textHolder {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 0.4rem 0;
}
.textHolder:nth-of-type(1) span:nth-of-type(1) {
  color: black;
  font-weight: 700;
}

.textHolder:nth-of-type(1) {
  padding: 1.5rem 0;
}

.wrapper h6 {
  border-top: 1px solid var(--yellow);
  margin: 0;
  padding: 1.3rem 0;
  color: black;
}

.wrapper svg {
  color: var(--yellow);
}