.wrapper {
  width: 100%;
  height: 60vh;
  background-image: url(../../assets/contactBackground.jpg);
  background-position: center;
  background-size: cover;
}

.background {
  position: absolute;
  width: 100%;
  height: 60vh;
  background-color: #2922317b;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  padding: 3em;
}
.textHolder {
  width: 60%;
  font-weight: 700;
  color: white;
}
