.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper h3 {
  text-align: center;
  margin: 0.3rem;
}

.wrapper h3::after {
  content: '';
  display: block;
  width: 70px;
  height: 1px;
  background-color: #fbd84b;
  margin: 0.7em auto;
}