.wrapper > span {
  display: inline-block;
  margin-bottom: 2rem;
}

.textHolder {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--rem2-gap);
}

.textHolder > span {
  font-size: var(--px16-font);
}

.wrapper h3 {
  margin: 0;
}