.wrapper > span {
  display: inline-block;
  margin-bottom: 2rem;
}

.textHolder {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.wrapper h3 {
  margin: 0;
}

.textHolder a {
  font-size: 14px;
}