.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: min(4vw,var(--main-padding-sides));
  justify-items: center;
  background-color: #f8f8f8;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section svg {
  width: clamp(15px, 5vw, 20px);
}


.section:nth-of-type(1) div > a svg{
  width: clamp(130px, 20vw, 220px);
  height: clamp(20px, 3.4vw, 36px);
  display: flex;
}

.wrapper h5{
  margin: 0;
}

.icons, .links {
  display: flex;
  gap: var(--rem1-gap);
  color: #a4a4a4;
  transition: .4s ease;
}

.icons svg:hover, .links span:hover, .links a:hover, div.linkWrapper:hover{
  color: #121212;
  transition: .4s ease;
  cursor: pointer;
}

.links {
  gap: 0.3rem;
  flex-direction: column;
  font-size: var(--px16-font);
}

.active {
  pointer-events: none;
}

.copyRight {
  text-align: center;
  color: #a4a4a4;
  font-size: var(--px14-font);
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    row-gap: 2rem;
  }

  .section {
    width: fit-content;
  }
}



