.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--rem1-gap);
  margin: var(--rem2-gap) 0;
}

.wrapper div:nth-of-type(1),
.wrapper div:nth-of-type(5){
  grid-column: span 2;
}

.wrapper img {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper div:nth-of-type(4) {
    order: 3;
  }
}

@media (max-width: 500px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}