.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 2em 0;
  position: relative;
  gap: var(--rem3-gap);
}

.offer {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.offer span:nth-of-type(1) {
  margin: 0.4rem 0;
  font-weight: 700;
  font-size: var(--px20-font);
}

.offer span:nth-of-type(2) {
  font-weight: 400;
  font-size: var(--px16-font);
  line-height: clamp(0.7rem, 2vw, 1.4rem);
  color: #adadad;
}

.wrapper svg {
  height: clamp(14px, 2vw, 30px);
  width: clamp(18px, 2vw, 30px);
  color: #fbd84b;
}